@font-face {
  font-family: 'DecoTech';
  src: url('../fonts/decotech_2/DecoTech.ttf') format('truetype');
}

@font-face {
  font-family: 'RapidtechDemo';
  src: url('../fonts/rapidtech/RapidtechDemoRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'RETROTECH';
  src: url('../fonts/retrotech/RETROTECH.ttf') format('truetype');
}
@font-face {
  font-family:'AR Techni' ;
  src: url('../fonts/ar_techni/AR\ Techni.ttf');
}

:root {
  --gray: #222e2e9d;
  --light-gray:#c7cdd6; 
  --black: #0000;
  --orange: #f94f00;
}

header.header {
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  background: #000000;
  z-index: 1000;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin: 0%;
}

nav.nav-bar {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--black);
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  position: fixed;
  padding-top: 0%;
  padding-bottom: 0%;
  top: 0;
  max-width: 100%;
  border-radius: 20px;
  z-index: 1000;
  margin-bottom: 15px;
  margin-left: 0%;
  transition: box-shadow 0.3s ease;
}

.nav-links {
  height: fit-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: space-around;
  margin-left: 30px;


}


a.home-link,
a.projects-link,
a.videos-link,
a.services-link,
a.about-me-link,
a.contact-link {

  color: rgb(101, 148, 30);
  font-size: 1.1rem;
  font-family: 'RapidtechDemo', sans-serif;
  letter-spacing: 2px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 10%;
  border-width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

a.home-link:hover,
a.projects-link:hover,
a.videos-link:hover,
a.services-link:hover,
a.about-me-link:hover,
a.contact-link:hover {
  color: var(--orange);
  font-weight: 500;
  border: 1px solid yellowgreen;

}

p.text-sm {
  width: fit-content;
  margin-right: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'RETROTECH';
  color: yellowgreen;
  display: inline-block;
  /* Asegura que las letras se comporten como bloques en la animación */


}

p.text-sm:hover {
  color:var(--orange);
}