:root {
  --gradient1: linear-gradient(110deg, #000000 80%, #fdffff 20%);
  --gradient1: linear-gradient(225deg, #000000 50%, #fdffff 50%);
  --beige: #f3dfc1;
  --dark-blue: #160f29;
  --dark-green: #246a73;
  --mid-green: #368f8b;
  --light-brown: #ddbea8;
  --mid-brown: #a99985;
  --dark-red:rgb(158, 10, 10);


}

header.header{
  width: fit-content;
  height: auto;
  background: #160f29;
}
.logo {
  width: 60px;
  height: auto;
  border-radius: 15px;
  margin-right: 20px;
}

.nav-bar {
  display: flex;
  background: var(--gradient1);
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  position: fixed;
  padding-top: 0%;
  padding-bottom: 0%;
  top: 0;
  max-width: 100%;
  height: 60px;
  border-radius: 20px;
  padding: 1rem;
  z-index: 1000;
  margin-bottom: 15px;
  margin-left: 15px;
  transition: box-shadow 0.3s ease;
}


.nav-bar.scrolled {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  position: fixed;
  padding-top: 0%;
  padding-bottom: 0%;
  top: 0;
  max-width: 100%;
  height: 90px;
  border-radius: 20px;
  /* Cambia la ruta a la ubicación de tu imagen de fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  padding: 1rem;
  /* Añade relleno para mejorar la apariencia */

  /* Ajusta el índice Z para que esté por encima de otros elementos */
  z-index: 1000;
  margin-bottom: 15px;
  margin-left: 15px;
  transition: box-shadow 0.4s ease;
}

.nav-bar.scrolled-top {
  animation: textclip 6s linear infinite; /* Agrega la animación solo cuando esté en la parte superior */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.nav-links {
  height: 40px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: space-between;
  transition: color 0.3s ease;
  /* Agrega transición al color del texto */

}
a.home-link, a.projects-link, a.videos-link, a.services-link{
  color: var(--light-brown);
}
a.about-me-link, a.contact-link{
  color: var(--mid-brown)
}

a.home-link:hover {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--light-brown);
  transition: 0.5s;

}

a.projects-link:hover {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--light-brown);
  transition: 0.5s;

}

a.services-link:hover {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--light-brown);
  transition: 0.5s;


}
a.videos-link:hover {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--light-brown);
  transition: 0.5s;

  
 }
 a.about-me-link:hover {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--light-brown);
  transition: 0.5s;

  
 }
 a.contact-link:hover {
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--light-brown);
  transition: 0.5s;

  
 }

p.text-sm {
  margin-left: 45px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Agbalumo', system-ui;
  color: var(--dark-red);
  display: inline-block; /* Asegura que las letras se comporten como bloques en la animación */


}
p.text-sm:hover{
  color:rgb(219, 3, 3);
}