@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  max-width: fit-content;
}


.home-container {
  max-width: fit-content;
  height: auto;
  margin-top: 20px;
  padding-left: 40px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no hay espacio suficiente */
}

.home-title-description-div{
  height: fit-content;
  margin-bottom: 40px;
}

.home-title {
  color: var(--dark-green);
  max-width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 35px;
  margin-bottom: 10px;
}

.home-description {
  max-width: 400px;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #666;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  text-align: justify;
}

.home-image {
  width: 400px;
  height: auto;
  margin-top: 5px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.main-image {
  display: flex;
  width: 400px; /* Haz que la imagen ocupe el 100% del contenedor */
  height: auto;
  margin-top: 10px;
  border-radius: 8px;margin-left: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;

}
  /* Home.css */
.tech-icons {
    width: 600px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 40px;
  }
  
  .icon {
    width: 45px;
    height: 45px;
    opacity: 60%;
    transition: color 0.5s ease;
    margin-right: 60px;
    margin-top: 0%;
  }
  
  .icon:hover {
  
    width: 60px;
    height: 60px;
    opacity: 100%;
    transition: 0.5s;
    z-index: 100;
  }
  