* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div.cards-container {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
}

div.card {

    position: relative;
    width: 350px;
    height: 400px;
    margin: 10px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.8s;
}

.face.front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    z-index: 1;
}

.front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.face.front h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem;
    justify-content: center;
    text-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--beige);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

div.face.back {
    background: rgba(3, 35, 54);
    padding: 15px;
    color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    box-shadow: 0 5px 10px var(--beige);
}

.face.back h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    margin-top: 10px;
    letter-spacing: 2px;
}

.face.back p {
    text-align: center;
    width: 325px;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

div.face.front:hover {
    transform: perspective(600px) rotateY(180deg);

}

div.face.back:hover {
    transform: perspective(600px) rotateY(0deg);
    z-index: 100;

}