/* Estilos para el componente Videos */

html{
  width: 100%;
  height: auto;
}

div.videos-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  padding: 20px;
}

.videos-container h2 {
  align-self: center;
text-align: center;
  font-size: 3rem;
  color: var(--mid-green);
  margin-top: 30px;
  margin-bottom: 40px;
}

li.video-card {
  width: 100%;
  height: 600px;
  height: fit-content;
  background: rgba(221, 190, 168, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  overflow: hidden;
}

.video-card iframe {
  width: 100%;
  height: 315px;
  /* Ajusta la altura según tus preferencias */
  border: none;
}

.video-details {
  margin-bottom: 25px;
  padding: 15px;
}

.video-title {
  width: 800px;
  color: var(--mid-green);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-description {
  color: var(--mid-green);
}

/* Otros estilos según sea necesario */